/* Fonts */
@font-face {
  font-family: Poppins-Regular; 
  src: url(Poppins-Regular.ttf) format("truetype"); 
  font-style: normal; 
  font-weight: normal;
} 

@font-face {
  font-family: Montserrat-Bold; 
  src: url(Montserrat-Bold.ttf) format("truetype"); 
  font-style: normal; 
  font-weight: bold;
} 

/* Animation */
@keyframes input-forms-selected {
  from {
    outline: 1px solid;
    outline-offset: 15px;
    outline-color: #00ad5f;
  }
  to {
    outline: 1px solid;
    outline-offset: 0px;
    outline-color: #00ad5f;
  }
}

/*---- Modal ----------*/

.modal-wrapper {
  padding: 3% 3% 3% 3%;
  background-image: linear-gradient(180deg, #0e81d6, rgba(0, 173, 95, 0.8)), url('main-background.jpg');
  background-size: cover;
}

.modal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  max-width: 1120px;
  margin: auto;
  justify-content: center;
  background: white;
}

@media (min-width: 768px) {
  .modal {
    flex-wrap: nowrap;
  }	
}

/*-------- contacts page ------------*/

.contact-info {
  display: flex;
  flex-grow: 0;
  flex-basis: 100%;
  padding-top: 30px;
  background: rgba(0, 0, 0, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .contact-info {
  	flex-basis: 40%;
    min-width: 40%;
  }	
}

@media (min-width: 992px) {
  .contact-info {
  	flex-basis: 50%;
    min-width: 50%;
  }	
}

.contact-info-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
  width: 80%;
  max-width: 355px;
  font-family: Poppins-Regular;
}

.contact-info-item:last-child {
  margin-bottom: 25px;
}

.contact-info-item__icon {
  padding-top: 4px;
  margin-right: 25px;	
}

.contact-info-item__title {
  padding-top: 0px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}

.contact-info-item__text {
  font-size: 15px;
  line-height: 1.6;
  color: #999;
}

.contact-info-item__link {
  font-size: 15px;
  line-height: 1.6;
  color: #00ad5f;
}

a.contact-info-item__link {
  text-decoration: none;
}

.contact-info-link {
  font-size: 15px;
  line-height: 1.6;
  color: #00ad5f;
}

a.contact-info-link {
  text-decoration: none;
}


/*-----  forms page ---------------*/

.contact-form {
  flex-grow: 1;
  padding: 55px 15px 55px 15px;
}

@media (min-width: 576px) {
  .contact-form {
    padding: 55px 30px 55px 30px;
  }	
}

@media (min-width: 768px) {
  .contact-form {
    flex-grow: 1;
    padding: 55px 30px 55px 30px;
  }	
}


.contact-form-title {
  font-family: Poppins-Regular;
}

h2.contact-form-title {
  font-size: 30px;
  color: #333;
  margin-block-start: 0px;
  margin-block-end: 60px;
}

h3.contact-form-title {
  font-size: 12px;
  text-transform: uppercase ;
  color: #555;
  margin-block-start: 35px;
  margin-block-end: 10px;
}

.form-text-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.form-text-name {
  display: flex;
  flex-grow: 1;
  height: 55px;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #666;
  padding-left: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

@media (min-width: 576px) {
  .form-text-name {
    max-width: 50%;
  }	
}

input.form-text-name:focus {
  z-index: 2;
  animation-name: input-forms-selected;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.form_text_email {
  display: flex;
  height: 55px;
  width: 100%;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #666;
  padding-left: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

input.form_text_email:focus {
  animation-name: input-forms-selected;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.form_text_phone {
  display: flex;
  height: 55px;
  width: 100%;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #666;
  padding-left: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

input.form_text_phone:focus {
  animation-name: input-forms-selected;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.form_textarea {
  display: flex;
  width: 100%;
  font-family: Arial;
  font-size: 16px;
  color: #333;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

textarea.form_textarea:focus {
  animation-name: input-forms-selected;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.submit_button {
  width: auto;
  height: 50px;
  margin-top: 23px;
  font-family: Montserrat-Bold;
  font-size: 12px;
  padding: 15px;
  color: white;
  background-color: #00ad5f;
  border-width: 0px;
  border-radius: 2px;
  text-transform: uppercase;
}

.submit_button:hover {
  background-color: #333333;
}



  